@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
.container {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.container.header {
	height: 50px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
/* Header */
header {
	width: 100%;
	background: black;
	position: fixed;
	bottom: -3px;
	z-index: 100;
}
.header-navigation {
	display: none;
}
.nav-btn {
	display: block;
	top: 0px;
	position: relative;
	z-index: 3;
}
.nav-btn img {
	width: 27px;
	filter: invert(0.5);
}
.header-logo img {
	width: 137px;
	height: 19px;
	float: left;
}
nav {
	float: left;
	margin-left: 100px;
}
.header-nav {
	padding-top: 2px;
}
.header-nav-menu {
	display: none;
	flex-wrap: wrap;
	list-style: none;
	font-weight: 500;
	font-size: 12px;
	color: black;
	text-transform: uppercase;
}
.header-nav-menu-item {
	color: #fff;
	cursor: pointer;
	z-index: 149;
	opacity: 0.8;
	margin-right: 30px;
	border-bottom: 3px solid transparent;
	transition: border-bottom 0.3s ease-in-out;
}
.header-nav-menu-item a {
	text-decoration: none;
	color: inherit;
}
.header-nav-menu-item:hover {
	border-bottom: 3px solid #f14d34;
	opacity: 1;
}
.header-nav-menu-item.active {
	opacity: 0.8;
	color: #fff;
	border-bottom: 3px solid #f14d34;
}
.header-navigation .dropdown-menu {
	margin-left: -2px;
	margin-top: -2px;
	color: #fff;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	transition: all 0.3s ease;
	opacity: 1;
	background-color: #f14d34;
	border-radius: 0;
}
.btn-group .dropdown-menu {
	position: relative;
	padding: 0rem;
	top: 0;
	bottom: -10px;
	border: 0;
}
.btn-group .dropdown-item.active {
	color: #f14e3b;
	background-color: black;
}
.btn-group .dropdown-item:hover {
	color: #f14e3b;
	background-color: black;
}
.header-navigation .dropdown-item:hover {
	background: #d13018;
	color: #fff;
}
.btn-group.dropup {
	position: static;
}
.invisible {
	opacity: 0;
}
.animate {
	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}
@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0rem);
		opacity: 1;
	}
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}
@keyframes slideOut {
	0% {
		transform: translateY(0rem);
		opacity: 1;
	}
	100% {
		transform: translateY(1rem);
		opacity: 0;
	}
	0% {
		transform: translateY(0rem);
		opacity: 1;
	}
}
@-webkit-keyframes slideOut {
	0% {
		-webkit-transform: translateY(0rem);
		-webkit-transform: 1;
	}
	100% {
		-webkit-transform: translateY(1rem);
		-webkit-transform: 0;
	}
}
@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		-webkit-opacity: 1;
	}

	0% {
		-webkit-transform: translateY(1rem);
		-webkit-opacity: 0;
	}
}

.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}
.slideOut {
	-webkit-animation-name: slideOut;
	animation-name: slideOut;
}
.btn-group .dropdown-menu.show {
	width: 100%;
	bottom: 40px !important;
}
.btn-group.dropup .dropdown-toggle::after {
	display: none;
}
.btn-group .dropdown-menu .dropdown-menu .dropdown-item {
	padding-left: 40px;
}
.btn-group .dropdown-item {
	font-size: 12px;
	background: black;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #312a2a;
	text-transform: uppercase;
	color: white;
	transition: color 0.3s ease;
}
.btn-group .dropdown-item span img {
	width: 9px;
	filter: invert(0.85);
}
/* Main Info */

.main-info {
	position: relative;
	padding: 40px 0 60px;
	overflow: hidden;
}
.main-info .container {
	z-index: 10;
	position: relative;
	color: white;
}
.main-info-video video {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 2;
	filter: blur(3px);
}
.main-info-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}
.main-info-desc {
	font-size: 14px;
	font-weight: 500;
	opacity: 0.8;
	text-align: center;
}
.main-info-btn {
	text-align: center;
	margin-top: 55px;
	margin-bottom: 55px;
}
.main-info img {
	vertical-align: baseline;
	margin-left: -10px;
}
.main-info:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 4;
	background: url('./img/druplicon.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	background-color: rgba(0, 0, 0, 0.8);
}
.main-btn {
	display: inline-block;
	border: 2px solid #f14d34;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 19px 0;
	width: 220px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	transition: all 0.5s ease;
}
.main-btn:hover {
	background: #f14d34;
	color: black;
	font-weight: bold;
}

/* Features List */

.main-list-item-border {
	border-left: 3px solid #f14d34;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 10px;
	height: 100%;
}
.main-list-item-desc {
	margin-top: 4px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14.63px;
	opacity: 0.7;
}
.main-list-item-title {
	display: flex;
	align-items: baseline;
	position: relative;
	font-weight: bold;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 5px;
}
.main-list-item:first-child .main-list-item-title {
	font-size: 48px;
	margin-top: -42px;
}
.main-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}
.main-list-item {
	margin-bottom: 32px;
}

/* UTILITES */

.main-utilities {
	position: relative;
	z-index: 6;
	background: white;
	color: black;
	padding-top: 50px;
	padding-bottom: 50px;
}

.util-label {
	color: #050c33;
	font-weight: bold;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 18px;
}
.util-low-label {
	display: inline-block;
	color: #050c33;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	opacity: 0.7;
	margin-bottom: 0;
}
.util-list {
	margin-top: 63px;
}
.util-body {
	margin-bottom: 30px;
}
.util-title {
	width: 196px;
	margin-top: 25px;
	font-weight: 500;
	font-size: 14px;
	color: #050c33;
	opacity: 0.7;
	max-width: 100%;
}
.util-title br {
	display: none;
}
.util-bg {
	position: relative;
	text-align: center;
}
.util-bg:before {
	content: '';
	display: block;
	position: absolute;
	width: 114px;
	height: 71px;
	left: -21px;
	bottom: -6px;
	background: url('./img/Vectorlistbg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
/* MAIN SUPPORT */
.main-support {
	position: relative;
	background: white;
	padding: 0 12px;
	margin-bottom: -210px;
}
.main-support .container {
	padding-left: 0px;
	padding-right: 0px;
}
.support-label {
	font-weight: bold;
	font-size: 24px;
	color: #050c33;
	margin-bottom: 56px;
}
.support-body {
	position: relative;
	border-radius: 5px;
	min-height: 290px;
	height: 100%;
	margin-left: -12px;
	margin-right: -7px;
	padding: 25px 25px 45px 25px;
	background: #fff;
	filter: drop-shadow(20px 20px 40px rgba(5, 12, 51, 0.05));
	z-index: 10;
}
.support-num {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #050c33;
	opacity: 0.5;
	margin-bottom: 20px;
}
.support-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #050c33;
	margin-bottom: 12px;
}
.support-wrapper {
	margin-bottom: 5px;
}
.support-desc {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #050c33;
	opacity: 0.7;
	z-index: 6;
}
.support-bg {
	position: absolute;
	right: 0;
	bottom: 0px;
	z-index: -1;
}

/*  MAIN ADVANTAGES */

.main-advantages {
	position: relative;
	background: linear-gradient(
			261.2deg,
			rgba(255, 255, 255, 0.276) -114.85%,
			rgba(255, 255, 255, 0) 69.04%
		),
		#040613;
	padding: 220px 0 280px;
}
.main-advantages:before {
	content: '';
	background: url('./img/druplicon.svg');
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-position: right bottom;
	background-size: contain;
	z-index: 5;
	opacity: 0.2;
	padding-bottom: 100px;
}
.advantages {
	position: relative;
	z-index: 6;
}
.advantages-label {
	font-weight: bold;
	font-size: 24px;
	color: #ffffff;
}
.adv-list {
	margin-bottom: 30px;
}
.adv-body {
	border-left: 3px solid #f14d34;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	min-height: 88px;
	height: 100%;
	width: 280px;
	width: 100%;
	margin-right: 20px;
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	opacity: 0.7;
}
.adv-body a {
	color: orangered;
	text-decoration: none;
}
.adv-bg {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 80%;
	max-width: 660px;
	z-index: 5;
	margin-top: 70px;
}
.adv-bg img {
	transform: translateY(17%);
}
.commn {
	padding: calc(var(--bs-gutter-x) * 0.5);
}
/* MAIN TARRIFS */
.main-tarrifs {
	padding-top: 100px;
	position: relative;
	background-color: #fff;
	z-index: 4;
	padding-bottom: 40px;
}
.main-tarrifs:before {
	content: '';
	background: url('./img/Dbg.png');
	display: block;
	position: absolute;
	left: 41%;
	top: 0%;
	bottom: 0%;
	right: 0%;
	background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;
	/* opacity: 0.2; */
}
.tariffs-label {
	position: relative;
	font-weight: bold;
	font-size: 24px;
	color: #000;
}
.tariff-list {
	margin-top: 20px;
	position: relative;
	justify-content: space-between;
}
.tariff-item {
	background: #ffffff;
	max-width: 280px;
	width: 100%;
	height: auto;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.tariff-item.active {
	transform: scale(1);
}
.tariff-item.active .tariff-btn {
	background: #f14d34;
	border-radius: 5px;
}
.tariff-item.active a {
	color: #fff;
}
.tariff-name {
	padding-top: 78px;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #f14d34;
}
.tariff-desc {
	font-weight: 500;
	margin-top: 40px;
	font-size: 14px;
	line-height: 20px;
	color: #050c33;
	opacity: 0.7;
	margin-bottom: 50px;
}
.tariff-desc br {
	display: none;
}
.tariff-desc p:before {
	content: '';
	display: block;
	margin-top: 4px;
	margin-right: 7px;
	width: 13px;
	height: 15px;
	position: relative;
	background: url('./img/checked.svg');
	background-repeat: no-repeat;
	background-size: contain;
	padding-right: 16px;
}
.tariff-desc p {
	display: flex;
	margin-bottom: 20px;
}
.tariff-btn {
	width: 100%;
	margin-bottom: 50px;
}
.tariff-btn a {
	display: block;
	padding: 20px 10px;
	border: 2px solid #f14d34;
	border-radius: 5px;
	text-decoration: none;
	color: #f14d34;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	letter-spacing: 0.06em;
	color: #f14d34;
}
hr {
	color: black;
	opacity: 0.2;
	border: 1px solid black;
	background-color: black;
}
.tariff-main-desc {
	position: relative;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #050c33;
	opacity: 0.5;
	margin-top: 82px;
}
.tariff-main-desc br {
	display: none;
}
.tariff-main-btn {
	margin-top: 10px;
	position: relative;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 0.06em;
	text-decoration-line: underline;
	text-transform: uppercase;
}
.tariff-main-btn a {
	color: #050c33;
}

/* MAIN ADDITION*/

.main-addition {
	position: relative;
	padding-top: 40px;
}
.additions-list {
	margin-top: 45px;
	text-align: center;
}
.addition-item {
	position: relative;
}
.addition-label {
	position: relative;
	font-weight: bold;
	font-size: 24px;
	color: #050c33;
}
.addition-head br {
	display: none;
}
.addition-head {
	margin-top: 10px;
	width: 190px;
	max-width: 100%;
	margin: auto;
}
.addition-num {
	font-size: 28px;
	font-weight: bold;
	color: #050c33;
}
.addition-desc {
	font-weight: 500;
	font-size: 14px;
	color: #050c33;
	opacity: 0.7;
}
.addition-bg {
	position: relative;
	z-index: 5;
}
.addition-bg:before {
	content: '';
	display: block;
	position: absolute;
	width: 114px;
	height: 71px;
	left: 50px;
	bottom: -6px;
	z-index: 1;
	background: url('./img/Vectorlistbg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/* MAIN TEAM */

.main-team {
	position: relative;
	padding-top: 50px;
}
.team-label {
	position: relative;
	font-weight: bold;
	font-size: 24px;
	color: #050c33;
	margin-bottom: 80px;
}
.team-item {
	position: relative;
	margin-bottom: 20px;
}
.team-name {
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #050c33;
	margin-top: 25px;
	margin-bottom: 5px;
}
.team-desc {
	font-weight: 500;
	font-size: 12px;

	color: #050c33;
	opacity: 0.7;
}
.team-btn {
	margin-bottom: 90px;
}
.team-btn a {
	font-size: 12px;
	color: #050c33;
	text-transform: uppercase;
	padding: 12px 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 500;
}
/* MAIN NEWS */
.main-news {
	position: relative;
	padding-bottom: 0px;
}
.news-list {
	margin-top: 60px;
}
.news-label {
	position: relative;
	font-weight: bold;
	font-size: 24px;
	color: #050c33;
}
.news-item {
	cursor: pointer;
	border-radius: 5px;
	position: relative;
	height: auto;
	margin-bottom: 20px;
}
.news-item.full {
	height: 360px;
}
.news-mini-header {
	border-radius: 5px;
}
.news-mini-content {
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 15px;
}
.news-mini-title {
	line-height: 1;
}
.news-mini-title > a {
	font-weight: bold;
	font-size: 14px;
	color: #050c33;
	text-decoration: none;
}
.news-list br {
	display: none;
}
.news-mini-title > a:hover {
	text-decoration: underline;
}
.news-mini-date {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #050c33;
	opacity: 0.5;
}
.news-mini-desc {
	font-weight: 500;
	font-size: 13px;
	color: #050c33;
	opacity: 0.7;
}
.news-mini-desc a {
	text-decoration: none;
}
.news-mini-desc a:hover {
	text-decoration: underline;
}
.news-full-bg {
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
}
.news-full-bg img {
	object-fit: contain;
	height: 100%;
	max-width: inherit;
}
.news-full-content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	padding: 0px 25px 10px 35px;
	line-height: 1;
}
.news-full-content p {
	margin-bottom: 0;
}
.news-full-title > a {
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
}
.news-full-title > a:hover {
	text-decoration: underline;
}
.news-full-date {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #ffffff;
	opacity: 0.5;
}
/* MAIN REVIEWS */
.main-reviews {
	padding-top: 60px;
	background: url('./img/right-quote-sign.svg') no-repeat;
	position: relative;
	background-size: 27%;
}
.reviews-label {
	position: relative;
	font-weight: bold;
	font-size: 24px;
	color: #050c33;
	margin-bottom: 0;
}
.reviews-container {
	position: relative;
	width: 980px;
	margin: auto;
	max-width: 100%;
	margin-top: 76px;
	z-index: 10;
	margin-bottom: 40px;
}
.reviews-container:before {
	content: '';
	display: block;
	background: #ffffff;
	opacity: 0.5;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	right: 60px;
	left: 24px;
	top: -32px;
	z-index: 5;
	width: 80%;
}
.reviews-container:after {
	content: '';
	display: block;
	background: #ffffff;
	opacity: 0.34;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	right: 90px;
	left: 12px;
	top: -17px;
	z-index: 5;
	width: 90%;
}
.reviews-carousel {
	display: flex;
}
.review-logo img {
	margin: unset;
	text-align: unset;
}
.carousel-wrapper {
	position: relative;
	z-index: 10;
	display: block;
	padding: 0px;
	padding-right: 0;
	flex-wrap: wrap;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 20px;
}
.review-logo {
	margin-bottom: 40px;
}
.review-desc {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.22;
	color: #050c33;
	margin-bottom: 0px;
	display: inline-block;
}
.review-desc p {
	display: block;
	padding-right: 10px;
}
.review-author {
	line-height: 1.22;
	font-size: 14px;
	color: #838b9c;
	font-weight: 500;
	padding-bottom: 10px;
}
.carousel-wrapper .slick-slider {
	width: 90%;
	padding: 0;
	padding-bottom: 15px;
	border-right: none;
	border-bottom: 1px solid rgb(214, 214, 214);
}
.carousel-wrapper .slick-slide {
	width: 480px;
	padding-left: 6px;
}
.carousel-wrapper .slick-list {
	margin: 0;
}
.carousel-wrapper .slick-arrow {
	width: 16px;
	height: 32px;
	border: 0;
}
.carousel-wrapper .slick-prev {
	background: url('./img/arrow-left.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
.carousel-wrapper .slick-next {
	background: url('./img/arrow-right.svg');
	background-size: contain;
	background-repeat: no-repeat;
}
.carousel-nav {
	width: 90%;
	display: flex;
}
.reviews-nav {
	margin: auto;
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}
.reviews-counter {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	color: #e0e0e0;
	padding-left: 22px;
	padding-right: 22px;
	vertical-align: super;
}
.reviews-counter-active {
	color: #050c33;
}
/* MAIN WORKERS */
.main-workers {
	margin-top: 100px;
	position: relative;
}
.workers-label {
	position: relative;
	font-weight: bold;
	font-size: 24px;
	color: #050c33;
}
.workers-desc {
	margin-top: 10px;
	font-weight: 500;
	font-size: 14px;
	text-align: initial;
	color: #050c33;
	opacity: 0.7;
	margin-bottom: 40px;
}
.workers-desc br {
	display: none;
}
.workers-carousels {
	margin-bottom: 30px;
}
.workers-carousel-wrapper {
	padding: 5px;
}
.workers-carousel-item {
	overflow: hidden;
	display: flex;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	border-radius: 5px;
	height: 80px;
	min-height: 80px;
}
.workers-carousels .slick-slide img {
	margin: 0 auto;
	align-self: center;
}
.workers-carousel.second .slick-track {
	margin-left: 10%;
}
/* MAIN FAQ */

.main-faq {
	position: relative;
	margin-bottom: 50px;
}
.faq-label {
	position: relative;
	font-weight: bold;
	font-size: 24px;
	color: #050c33;
	margin-bottom: 30px;
}
.accordion-button {
	display: flex;
	align-items: inherit;
	position: relative;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #050c33;
	line-height: 1;
	transition: color 0.3s;
}
.accordion-item {
	border: 0;
	transition: border-color 0.35s;
	border: 3px solid transparent;
	border-radius: 0;
	padding-bottom: 10px;
}
.accordion-body {
	font-weight: 500;
	font-size: 14px;
	color: #050c33;
	line-height: 1.37;
	opacity: 0.7;
}
.accordion-num {
	display: block;
	min-width: 15px;
	text-align: right;
	font-weight: bold;
	font-size: 12px;
	color: #828a9b;
	margin-top: 1px;
	margin-right: 3px;
}
.accordion-button:not(.collapsed) {
	color: #f14e3b;
	background: transparent;
	box-shadow: none;
}
.accordion-button::after {
	display: none;
}
.accordion-item:not(:first-of-type) {
	border-top: 3px solid transparent;
}
.accordion-button {
	padding: 0.5rem 1.25rem;
}
.accordion-button:focus {
	border: none;
	box-shadow: none;
}
.accordion-item.opened {
	border-color: #f14e3b;
}
.accordion-body {
	padding: 0rem 2.75rem;
	padding-right: 0rem;
	padding-left: 2rem;
}
.accordion-item:first-of-type {
	border-radius: 0;
}
.accordion-item:not(:first-of-type) {
	border-color: transparent;
	transition: border-color 0.35s;
}
.accordion-item.opened:not(:first-of-type) {
	border: 3px solid;
	border-color: #f14e3b;
}
/* FOOTER */
footer {
	position: relative;
	background: linear-gradient(
			261.2deg,
			rgba(255, 255, 255, 0.276) -114.85%,
			rgba(255, 255, 255, 0) 69.04%
		),
		url('./img/D-flying.svg') top center, url('./img/D.png') bottom right,
		#040613;
	background-repeat: no-repeat;
	background-size: cover, 160px, 110px;
	padding-top: 35px;
	padding-bottom: 45px;
}
.footer-header {
	font-weight: bold;
	font-size: 24px;
	line-height: 1;
	color: #ffffff;
	margin-bottom: 20px;
	text-align: center;
}
.footer-desc {
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	color: #ffffff;
	opacity: 0.7;
	margin-bottom: 20px;
}
.footer-desc br {
	display: none;
}
.footer-contacts {
	margin-bottom: 30px;
}
.footer-tel {
	font-size: 20px;
	line-height: 150%;
	font-weight: bold;
}
.footer-tel a {
	position: relative;
	text-decoration: none;
	color: #fff;
	padding-left: 40px;
}
.footer-tel a:before {
	position: absolute;
	content: '';
	height: 24px;
	width: 24px;
	left: 0;
	top: 0px;
	display: inline-block;
	background: url('./img/phoneicon.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.footer-mail {
	position: relative;
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	text-decoration-line: underline;
	padding-left: 40px;
}
.footer-mail a {
	text-decoration: none;
	color: #fff;
}
.form-wrapper {
	position: relative;
	margin-left: auto;
	width: 480px;
	max-width: 100%;
}
.footer-mail a:before {
	position: absolute;
	content: '';
	height: 24px;
	width: 24px;
	left: 0;
	top: 4px;
	display: inline-block;
	background: url('./img/mail.png');
	background-repeat: no-repeat;
	background-size: contain;
}
.footer-form input,
.footer-form textarea {
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 13px 12px;
	margin-bottom: 7px;
}
.footer-form input::placeholder,
.footer-form textarea::placeholder {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	opacity: 1;
}
.footer-form input:focus,
.footer-form textarea:focus {
	background-color: transparent;
	color: #fff;
	outline: 0;
	border: 1px solid #ffffff;
	border-color: red;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: none;
}
.footer-form input[type='checkbox'] {
	border: 1px solid rgba(255, 2556, 255, 0.3);
	display: inline-block;
}
.footer-form input[type='checkbox']:checked {
	border: 1px solid #ffffff;
	border-color: red;
	background-color: transparent;
}
.form-check {
	display: flex;
}
.form-check-label {
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	color: #ffffff;
	margin-left: 13px;
	margin-top: 7px;
}
.form-check-label a {
	color: red;
	text-decoration: none;
}
.form-check-label span {
	display: inline-block;
	color: red;
}
.footer-form textarea {
	padding-left: 20px;
	padding-top: 18px;
}
.form-control {
	color: #ccc;
}
.btn-submit {
	background: #f14d34;
	border-radius: 5px;
	width: 100%;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: #ffffff;
	transition: background-color 0.3s ease;
	padding: 24px;
	margin-bottom: 70px;
}
.btn-submit:hover {
	color: #fff;
	background-color: #fa735f;
}
.btn-submit:focus {
	box-shadow: none;
}
.footer-social {
	position: relative;
	padding-top: 60px;
}
.footer-social:before {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	right: 0;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.3);
}

/* SOCIAL BLOCK */

.social-list {
	list-style: none;
	display: flex;
	padding-left: 0px;
}
.social-list-item {
	display: inline-block;
	margin-right: 10px;
}
.social-list-item a {
	width: 30px;
	height: 30px;
	background: #f14d34;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
}
.social-list-item img {
	width: 18px;
	height: 16px;
	filter: invert(1);
}
.social-desc {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
	opacity: 0.5;
}
.slide-fade-enter-active {
	transition: all 0.3s ease;
}
.slide-fade-leave-active {
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
	transform: translateX(10px);
	opacity: 0;
}
/* MEDIA TAGS */

@media (min-width: 767px) {
	.container {
		max-width: 1170px;
		padding: 0;
	}
	.container.header {
		display: block;
		justify-content: unset;
		align-items: unset;
		height: unset;
	}
	header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: unset;
		padding-top: 30px;
		padding-bottom: 30px;
		background: transparent;
		z-index: 15;
	}
	.btn-group {
		display: none;
	}
	.header-navigation {
		display: block;
	}
	.header-nav-menu {
		display: flex;
	}
	.header-logo {
		display: block;
	}
	.main-info {
		padding: 130px 0 60px;
	}
	.main-info-title {
		font-size: 52px;
		text-align: unset;
		line-height: 60px;
	}
	.main-info-desc {
		font-size: 18px;
		text-align: unset;
	}
	.main-info-btn {
		text-align: unset;
		margin-bottom: 0;
	}
	.main-info:before {
		background-size: unset;
		background-position: unset;
	}
	.main-list-item {
		margin-bottom: 96px;
	}
	.main-list-item-title {
		display: block;
		align-items: unset;
	}
	.main-utilities {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.util-body {
		margin-bottom: 50px;
	}
	.util-label {
		font-size: 42px;
		line-height: 51px;
	}
	.util-title {
		font-size: 16px;
		width: unset;
	}
	.util-title br {
		display: inline-block;
	}
	.util-bg {
		text-align: unset;
	}
	.support-label {
		font-size: 42px;
		line-height: 51px;
	}
	.addition-label {
		font-size: 42px;
		line-height: 51px;
	}
	.main-support .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.support-bg {
		z-index: 4;
	}
	.main-support br {
		display: inline-block;
	}
	.main-advantages {
		padding: 380px 0 150px;
	}
	.advantages-label {
		font-size: 42px;
		line-height: 51px;
	}
	.adv-bg {
		width: 50%;
	}
	.main-tarrifs {
		padding-top: 150px;
	}
	.tariff-item {
		max-width: 360px;
		margin-bottom: 0;
	}
	.tariffs-label {
		font-size: 42px;
		line-height: 51px;
	}
	.tariff-list {
		margin-top: 80px;
	}
	.tariff-item.active {
		transform: scale(1.1);
		z-index: 10;
		border: 1px solid rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
		border-radius: 5px;
	}
	.tariff-btn a {
		padding: 24px 61px;
	}
	.tariff-desc br {
		display: block;
	}
	.tariff-main-desc br {
		display: block;
	}
	.main-addition {
		padding-top: 160px;
	}
	.additions-list {
		text-align: unset;
	}
	.addition-desc {
		font-size: 16px;
		line-height: 22px;
	}
	.addition-head {
		width: unset;
		margin-top: 10px;
	}
	.addition-head br {
		display: inline-block;
	}
	.main-team {
		padding-top: 160px;
	}
	.team-label {
		font-size: 42px;
		line-height: 51px;
	}
	.addition-bg:before {
		left: -52px;
	}
	.team-item {
		padding: 0 50px;
		margin-bottom: 70px;
	}
	.team-desc {
		font-size: 16px;
		line-height: 22px;
	}
	.team-btn a {
		padding: 24px 75px;
	}
	.main-news {
		padding-bottom: 30px;
	}
	.news-label {
		font-size: 42px;
		line-height: 51px;
	}
	.news-item {
		height: 475px;
	}
	.news-mini-title {
		line-height: inherit;
	}
	.news-mini-title > a {
		font-size: 18px;
		line-height: 22px;
	}
	.news-mini-content {
		padding-left: 30px;
		padding-right: 0;
	}
	.news-mini-desc {
		font-size: 14px;
		line-height: 22px;
	}
	.news-item.full {
		height: unset;
	}
	.news-full-bg {
		height: unset;
		overflow: hidden;
	}
	.news-full-bg img {
		object-fit: unset;
	}
	.news-full-content {
		padding: 24px 75px;
	}
	.news-full-content p {
		margin-bottom: 1rem;
	}
	.news-full-title > a {
		font-size: 18px;
		line-height: 22px;
	}
	.reviews-label {
		font-size: 42px;
		line-height: 51px;
		margin-bottom: 46px;
	}
	.reviews-container:before {
		left: 60px;
		top: -40px;
		width: unset;
	}
	.reviews-container:after {
		left: 90px;
		top: -70px;
		width: unset;
	}
	.carousel-wrapper {
		display: flex;
		padding: 66px 68px;
	}
	.carousel-wrapper .slick-slider {
		width: 64%;
		padding: 14px 60px;
		padding-bottom: 0;
		border-right: 1px solid rgb(214, 214, 214);
		border-bottom: none;
	}
	.review-desc {
		margin-top: 28px;
	}
	.carousel-nav {
		width: 36%;
	}
	.reviews-nav {
		display: block;
		margin: auto;
		margin-left: 35px;
	}
	.reviews-counter {
		padding-left: 46px;
		padding-right: 46px;
	}
	.main-workers {
		margin-top: 160px;
	}
	.workers-carousel:nth-child(2) {
		margin-bottom: 110px;
	}
	.workers-label {
		font-size: 42px;
		line-height: 51px;
	}
	.workers-desc {
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		margin-left: 0;
	}
	.workers-desc br {
		display: block;
	}
	.workers-carousel-item {
		overflow: unset;
		height: 160px;
		min-height: 160px;
	}
	.faq-label {
		font-size: 42px;
		line-height: 51px;
		margin-bottom: 80px;
	}
	.accordion-button {
		font-size: 18px;
		line-height: 1.22;
		align-items: center;
	}
	.accordion-body {
		font-size: 16px;
		padding-right: 2.75rem;
		padding-left: 2.75rem;
	}
	footer {
		background-size: inherit;
	}
	.footer {
		padding-bottom: 0;
	}
	.footer-header {
		font-size: 42px;
		line-height: 51px;
		text-align: unset;
	}
	.footer-desc {
		margin-bottom: 142px;
	}
	.footer-desc br {
		display: block;
	}
	.footer-tel {
		font-size: 32px;
	}
	.footer-tel a:before {
		top: 7px;
	}
	.footer-contacts {
		margin-bottom: 0px;
	}
	.form-check {
		display: block;
	}
}
